body{
  background-color: beige;
}

hr{
width: 7%;
border-style: none;
border-top-style: dotted;
border-color:#afcb08;
border-width: 7px;
}

h1{
  color: #0075be;
  background-color:#afcb08;
  font-family: Georgia, serif;
  font-style: italic;
}

h3{
  color: #0075be;
  background-color:#afcb08;
  font-family: Georgia, serif;
  font-style: italic;
}

ol,ul,table,p{
  font-family: Georgia, serif;

}

.center{

  display: block;
  margin-left: auto;
  margin-right: auto;

}

.profile{
  display:block;
  width:100%;
  height: auto;
}
